@charset 'UTF-8';

//@media query {
@mixin sp() {
  @media (max-width: $sp) {
    @content;
  }
}
@mixin  tablet() {
  @media(max-width: $tablet) {
    @content;
  }
}
@mixin pc() {
  @media(min-width: $pc) {
    @content;
  }
}

//初期化
@mixin Initialization() {
  top: initial;
  bottom: initial;
  right: initial;
  left: initial;
  position: initial;
}

//linkカラー
@mixin LinkColor($color,$actionColor) {
  color: $color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $actionColor;
    text-decoration: none;
  }
}

//背景画像
@mixin bg_jpg($img-name,$img-size,$img-position) {
  background-image: url("../img/#{$img-name}.jpg");
  background-size: $img-size;
  background-position: $img-position;
  background-repeat: no-repeat;
}
@mixin bg_png($img-name,$img-size,$img-position) {
  background-image: url("../img/#{$img-name}.png");
  background-size: $img-size;
  background-position: $img-position;
  background-repeat: no-repeat;
}

//上下中央揃え
@mixin center {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//自動ベンダープレフィックス
@mixin PropertySetPrefix($property,$value) {
  @each $prefix in $set-prefix {
    #{$prefix}#{$property}: $value;
  }
}

//横棒
@mixin pinch($width,$height,$margin,$color) {
  &::before,&::after {
    content: '';
    display: inline-block;
    width: $width;
    height: $height;
    margin: $margin;
    background-color: $color;
    vertical-align: middle;
    @include sp() {
      display: block;
      width: 80%;
      margin: 10px auto;
      background-color: $font-white;
    }
  }
}

//三角形
@mixin triangle($top,$left,$size,$direction,$color) {
  position: absolute;
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  top: $top;
  left: $left;
  border: $size solid transparent;
  @if($direction == "up") {
    border-bottom: $size solid $color;
  } @elseif($direction == "down") {
    border-top: $size solid $color;
  } @elseif($direction == "left") {
    border-right: $size solid $color;
  }@elseif($direction == "right") {
    border-left: $size solid $color;
  }
}

//ボタン
@mixin button($button-width,$button-padding,$button-bg-color,$button-color,$button-font-size) {
  display: inline-block;
  width: $button-width;
  padding: $button-padding;
  border-radius: 4px;
  background-color: $button-bg-color;
  color: $button-color;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: $button-font-size;
  &:hover {
    opacity: 0.9;
  }
}
@mixin button_reset() {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

//下線
@mixin under_line($right,$left,$bottom,$width,$thickness,$color) {
  content: '';
  position: absolute;
  right: $right;
  left: $left;
  bottom: $bottom;
  width: $width;
  border-bottom: $thickness solid $color;
}
//ひし形
@mixin rhombus_before($width,$height,$border-size,$border-color) {
  &::before {
    content: '';
    width: $width;
    height: $height;
    border: $border-size solid $border-color;
    display: inline-block;
    margin: 0 20px;
    vertical-align: 2px;
    @include PropertySetPrefix(transform,rotate(45deg));
  }
}
@mixin rhombus_after($width,$height,$border-size,$border-color) {
  &::after {
    content: '';
    width: $width;
    height: $height;
    border: $border-size solid $border-color;
    display: inline-block;
    margin: 0 20px;
    vertical-align: 2px;
    @include PropertySetPrefix(transform,rotate(45deg));
  }
}

//吹き出し
@mixin balloon($border-color,$direction) {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  background: #FFF;
  border: solid 3px $border-color;
  box-sizing: border-box;
  @if($direction=="up") {
    &:before {
      content: "";
      position: absolute;
      top: -24px;
      left: 50%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-bottom: 12px solid #FFF;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-bottom: 14px solid $border-color;
      z-index: 1;
    }
  } @elseif($direction=="down") {
    &:before {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 50%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-top: 12px solid #FFF;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-top: 14px solid $border-color;
      z-index: 1;
    }
  } @elseif($direction=="left") {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-right: 12px solid #FFF;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid #555;
      z-index: 1;
    }
  } @elseif($direction=="right") {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-left: 12px solid #FFF;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-left: 14px solid #555;
      z-index: 1;
    }
  }
}
